<ons-page id="settingSetter-page">
        
  <ons-toolbar  fixed-style>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center toolbar-txt">セッター</div>
  </ons-toolbar>
    
  <div class="container">
    <form>
      <div class="form-group">
        <div class="input-group" ng-repeat="setter in setterList">
          <span class="input-group-addon">　{{setter.id}}　</span>
          <input type="text" class="form-control input-lg" placeholder="セッターを入力してください" ng-model="setter.setter">
          <span class="input-group-btn">
            <button type="button" class="btn btn-danger btn-lg" ng-click="removeSetter($index)">削除</button>
          </span>
        </div>
      </div>
     <div class="form-group">
        <button type="button" class="btn btn-primary" ng-click="addSetter()">　＋　</button>
     </div>
    <button type="button" class="btn btn-default btn-block btn-success btn-lg" style="line-height: 40px; margin-top:45px; height:60px;" ng-click="registerSetter()">登録</button>
    </form>
  </div>
  <pre ng-show="isDebug">{{ setterList | json }}</pre>
</ons-page>